body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/365/104/57/buenos-aires-argentina-wallpaper-preview.jpg");;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.container {
    text-align: center;
}

h1 {
    color: white;
}

.card {
    width: 250px;
    height: 150px;
    margin: 20px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.card.flipped {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-back {
    background: #6CACE4;
    color: white;
    transform: rotateY(180deg);
    border-radius: 10px;
}

button {
    background: #ff4b2b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #ff3a1b;
}
